# **notebook - 01:**

In [ ]:
import pandas as pd

**csv from URL**

In [ ]:
import requests
from io import StringIO

url = ""
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

**tab saperated values**

In [ ]:
df=pd.read_csv(" ",sep="/t",names=["","","",""])

**index column parameter**

In [ ]:
df=pd.read_csv(" ",index_col="column name") # agr column hai hi nahi
df=pd.read_csv(" ",index_col=0)
df=pd.read_csv(" ",header=1) # agr column 1st row mai jaa rhe hai toh

***use selected column parameter ***

In [ ]:
pd.read_csv(" ",usecols=["col1","col2"])

**squeeze parameter only one column required**

In [ ]:
pd.read_csv("  ",usecols=["cols"],squeeze=True)

**skip rows / n rows parameters**

In [ ]:
pd.read_csv(" ",skiprows=[1,2,3])
pd.read_csv(" ",nrows=100) # first 100 rows

**encoding parameter**

In [ ]:
pd.read_csv("",encoding="ISO-8859-1") #change the encoding

**skip bad lines**

In [ ]:
pd.read_csv("",sep=" ; ",encoding=" ",error_bad_lines=False) # skip bad lines

**d type read csv**

In [ ]:
pd.read_csv("",dtype={"col1":"float64"}) #change data type

**handling dates**

In [ ]:
pd.read_csv("",parse_dates=["col1"]) #change data type most probly date column
pd.read_csv("",parse_dates=["col1","col2"]).info()

**convertors**

In [ ]:
def rename(name):
    if name=="Royal Challengers Bangalore":
        return "RCB"
    else:
        return name
pd.read_csv("",converters={"col1":rename})

**na_values parameters**

In [ ]:
pd.read_csv("",na_values=["no value","no values"])

**loading a huge data set in chuks**

In [ ]:
dfs=pd.read_csv("",chunksize=5000)
for chunks in dfs:
    print(chunk.shape)

**importing from sql**

In [4]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 71.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247948 sha256=517283ab606e535b7184d225162811583b8b6772789b38c32530dcc85d79901d
  Stored in directory: /root/.cache/pip/wheels/76/48/9b/da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [5]:
import mysql.connector

In [6]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (111 Connection refused)

In [7]:
df = pd.read_sql_query("SELECT * FROM countrylanguage",conn)
df

NameError: name 'conn' is not defined

**import from api**

In [8]:
import pandas as pd
import requests

In [9]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [10]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [13]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [12]:
df = pd.DataFrame()

In [14]:
df

Empty DataFrame
Columns: []
Index: []

In [15]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.to_csv('movies.csv')