# **notebook - 01:**

In [ ]:
import pandas as pd

**csv from URL**

In [ ]:
import requests
from io import StringIO

url = ""
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

**tab saperated values**

In [ ]:
df=pd.read_csv(" ",sep="/t",names=["","","",""])

**index column parameter**

In [ ]:
df=pd.read_csv(" ",index_col="column name") # agr column hai hi nahi
df=pd.read_csv(" ",index_col=0)
df=pd.read_csv(" ",header=1) # agr column 1st row mai jaa rhe hai toh

***use selected column parameter ***

In [ ]:
pd.read_csv(" ",usecols=["col1","col2"])

**squeeze parameter only one column required**

In [ ]:
pd.read_csv("  ",usecols=["cols"],squeeze=True)

**skip rows / n rows parameters**

In [ ]:
pd.read_csv(" ",skiprows=[1,2,3])
pd.read_csv(" ",nrows=100) # first 100 rows

**encoding parameter**

In [ ]:
pd.read_csv("",encoding="ISO-8859-1") #change the encoding

**skip bad lines**

In [ ]:
pd.read_csv("",sep=" ; ",encoding=" ",error_bad_lines=False) # skip bad lines

**d type read csv**

In [ ]:
pd.read_csv("",dtype={"col1":"float64"}) #change data type

**handling dates**

In [ ]:
pd.read_csv("",parse_dates=["col1"]) #change data type most probly date column
pd.read_csv("",parse_dates=["col1","col2"]).info()

**convertors**

In [ ]:
def rename(name):
    if name=="Royal Challengers Bangalore":
        return "RCB"
    else:
        return name
pd.read_csv("",converters={"col1":rename})

**na_values parameters**

In [ ]:
pd.read_csv("",na_values=["no value","no values"])

**loading a huge data set in chuks**

In [ ]:
dfs=pd.read_csv("",chunksize=5000)
for chunks in dfs:
    print(chunk.shape)